kind: Deployment
apiVersion: apps/v1
metadata:
  name: java-deployment
  namespace: java-app

spec:
  replicas: 2
  selector:
    matchLabels:
      app: java-app
  template:
    metadata:
      labels:
        app: java-app
    spec:
      containers:
        - name: java-app
          image: registry.gitlab.com/vaibhavc54/java-devops:${IMAGE_TAG}
          ports:
          - containerPort: 8080
      imagePullSecrets:
      - name: gitlab-creds

---

kind: Service
apiVersion: v1
metadata:
  name: java-service
  namespace: java-app
spec:
  selector:
    app: java-app
  ports:
    - port: 80
      targetPort: 8080
  type: NodePort 

